@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.video-background-do-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}



html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}


.background{
    position: relative;  
    height: 100vh;
    
    background-size: cover;
}

.background-conteudo{
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-apresentacao , .container-img{
    width: 50%;
}









h1{
    color: #fff;
    font-size: 3rem;
    animation: shadowText 2s linear infinite alternate;
}

@keyframes shadowText{
    100%{
        text-shadow: 0 0 10px rgb(255, 255, 255);

    }
}

h1 div{
    font-size: 5rem;
    width: 100%;
}

.background p{
    color: #fff;
    font-size: 1.3rem;
}

.background .container-img{
    position: relative;
    height: 30rem;
    width: 30rem;  
}

.background .container-img img{
    position: absolute;
    height: 30rem;
    width: 30rem;
    transition: 1s;
    animation: moveimagem 0.5s linear infinite alternate;
    top: 0px;

}

@keyframes moveimagem{
    100%{
        transition: 1s;
        top: 10px;
    }
}

.angulo-para-baixo{
    height: 10rem;
    width: 10rem;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -60px;
    animation: moveAngulo 0.5s linear infinite alternate;
}

@keyframes moveAngulo{
    100%{
        transition: 1s;
        bottom: -50px;
    }
}

.background .container-img{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* --------------------HEADER */

header{
    z-index: 2;
    width: 100%;
    position: fixed;
    background: #ffffff30;
    border-bottom: 1px solid #ffffff30;
    background: rgb(97,61,193);
    background: linear-gradient(286deg, rgba(97,61,193,1) 0%, rgba(80,24,230,1) 100%);
    opacity: 0.8;
}
header .div{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a img{
    height: 3rem;
    width: 3rem;
}

header a{
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff;
}

header a:hover{
    border-bottom:1px solid #fff;
}

header .box-link{
    height: 5rem;

}


/* =======================main */
h2{
    text-align: center;
    margin-top: 3rem;
    font-size: 4rem;
    color: #424242;
    font-weight: 100;
}

.container-sobre-mim{
    width: 70%;
    font-size: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.container-sobre-mim p{
   font-weight: 100;
   margin: 2rem 0rem;
   font-size: 2rem;
   color: #707070;
}

.container-habilidades{
    width: 70%;
    margin: 4rem auto;

    display: grid ;
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: 15rem 15rem;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    
    
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-habilidades .box{
    padding: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    border: 0.1rem solid #613dc1;
    overflow: auto;
}

.container-habilidades .box:hover{
    background: #613dc1;
}

.container-habilidades .box:hover .tecnologia{
    display: none;
}

.container-habilidades .box:hover .descricao{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
}


.container-habilidades .box .tecnologia{

    width: 100%;
    height: 100%;
    
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-habilidades .box .tecnologia span{
    background: #613dc1;
    padding: 0.5rem;
    margin-top: 1rem;
    color: #fff;
    border-radius: 15%;
    text-align: center;
    font-size: 1.3rem;
}

.container-habilidades .box .descricao{
    display: none;
    width: 100%;
    height: 100%;
    background: #613dc1;
}

.container-habilidades .box img{
    width: 7rem;
    padding: 1rem;
}

.container-habilidades .box #git{
    width:4rem;
    height: 4rem;
}




/* footer{
    background: rgb(97,61,193);
    background: linear-gradient(286deg, rgba(97,61,193,1) 0%, rgba(80,24,230,1) 100%);
} */

.container-footer{
    width: 70%;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem 0rem;
}

footer .container-footer div{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


footer{
    position: relative;
    overflow: hidden;
}

footer h2{
    text-align: left;
    font-size: 2rem;
    color: #fff;
}

footer a{
    color: #fff;
    padding: 1rem 0rem;
}

footer a:hover{
    text-decoration: underline;
}

.video-background-do-footer{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    top: -400px;
}


@media(max-width: 950px){
    .background .container-img img{
        height: 20rem;
        width: 20rem;
    }

    .background .container-img{
        height: 20rem;
        width: 20rem;
    }
}

@media(max-width: 950px) and (min-height: 500px){
    .background{
        height: 45vh;
    }

    .video-background-do-banner{
        height: 45vh;
    }

    h1{
        padding-top: 10rem;
    }

    .container-apresentacao{
        width: 100%;
    }

    .container-habilidades{
        grid-template-columns: 45% 45%;
        grid-template-rows: 15rem 15rem 15rem;
    }


    
    .background .container-img, .angulo-para-baixo{
        display: none;
    }

   
    
    
}



@media(max-width: 750px){
    html{
        font-size: 55%;
    }

   
    /* {
        

        grid-template-columns: 20rem 20rem;
        grid-column-gap: 5rem;
        grid-row-gap: 5rem;
    
    } */

    
    
    .container-habilidades, .background-conteudo, .container-sobre-mim, .container-footer{
        width: 90%;
    }
   

}


@media(max-width: 450px){
    html{
        font-size: 45%;
    }

}

@media(max-width: 380px){
    html{
        font-size: 30%;
    }

}








